<div class="meta">
    <a href="{% url 'series_episodes' sSlug=post.series.slug %}">{{ post.series|upper }}</a>
</div>
<a href="{% url 'series_episode_single' sSlug=post.series.slug eSlug=post.slug %}">
    <div class="recent-video">
        <div class="content" style="background: url('{{ post.get_featured_image_url }}') center center no-repeat; background-size: cover">
        </div>
    </div>
</a>
<a href="{% url 'series_episode_single' sSlug=post.series.slug eSlug=post.slug %}">
    <h3 class="title">
        {{ post.title }}
    </h3>
</a> 