{% block featured_content %}
<a href="{% url 'series_episode_single' sSlug=post.series.slug eSlug=post.slug %}">
    <div class="featured-image">
        <div class="content" style="background: url('{{ post.get_featured_image_url }}') center center no-repeat; background-size: cover">
        </div>
    </div>
    <div class="featured-header">
        <div class="title">
            {{ post.title }}
        </div>
        <div class="meta">
            {% block post_author %}POSTED BY {{ post.author|upper }}{% endblock %}
        </div>
    </div>
</a> 
{% endblock %}