<div class="row post-list-entry">
    <div class="col-sm-4">
        <div class="featured-image">
            <a href="{{ post.get_permilink }}"
        </div>
    </div>
    <div class="col-sm-11">
        <article class="post-list-main">
            <header class="post-list-header">
                {% block post_title %}
                    <h1 class="post-list-title">{{ post.title }}</h1>
                {% endblock %}
                {% block post_meta %}
                <div class="post-list-meta">
                    <span class="post-list-date"><i class="fa fa-clock-o"></i> {{ post.date_pub|timesince }} ago</span>
                    <span class="post-list-author"><i class="fa fa-user"> </i> {{ post.author }}</span>
                </div>
                {% endblock%}
            </header>
            <p class="post-list-body">
                {% block post_content %}{% include post.body_list_template %}{% endblock %}
            </p>
        </article>
    </div>
</div>