<div class="row">
    <div class="col-xs-4">
        <a href='{{ post.get_permilink }}'>
            <div class="list-image">
                <div class="content" style="background: url('{{ post.get_featured_image_url }}') center center no-repeat; background-size: cover">
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-8">
        <header class="list-header">
            <h1 class="list-title"><a href='{{ post.get_permilink }}'>{{ post.title }}</a></h1>
            <div class="list-meta">
                {% block post_author %}<span class="list-author">Posted by {{ post.author }}</span>{% endblock %} ON {{ post.date_pub|date:"F d, Y"|upper }}
                <span class="list-comments">2 COMMENTS</span>
            </div>
        </header>
        <div class="list-body">
            {% block post_content %}{% include post.body_list_template %}{% endblock %}
        </div>
    </div>
</div> <!-- row -->
