// Colors
$black: #221a22;
$grey-dark: #444444;
$grey-light: #aaaaaa;
$white-light: #fdfdfd;
$white-dark: #f6f5f2;
$purple: #7D26CD;
$purple-dark: #4b167b;
$green: #86a669;
$basic-shadow: 0px 0px 1px 0px rgba(0,0,0, 0.2);
$dividing-border: solid 1px $purple;

// heights
$logo-main-height: 60px;