/*
    Stylesheet for Go Team Win.
    Author: Kyle Wagner
    URL: http://goteamwin.com
*/

@import "compass";
@import "compass/reset";
@import "compass/layout/sticky-footer";

@import "variables";

// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-dark;
  }
}

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

body {
    font-family: 'Sintony', sans-serif;
    color: $grey-dark;
    background-color: $white-light;
}
p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    color: $purple;
    text-decoration: underline;
    
    &:hover {
        color: $purple-dark;
    }
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.3em;
}

.divider {
    width: 75%;
    height: 0.25em;
    background-color: $purple;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.expand-height {
    //min-height: 100%;
}

/* social */
a.twitter:hover {
    i {
        color : #55acee;
    }
}

a.facebook:hover {
    i {
        color : #3b5998;
    }
}

a.twitch:hover {
    i {
        color : #6441A5;
    }
}

a.youtube:hover {
    i {
        color : #e52d27;
    }
}

/* main */

.content-main {
    min-height: 100%;
}

.section-header {
    margin-bottom: 1em;
    border-bottom: solid 1px $purple-dark;
}

/* headers */

.header-social {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: $grey-dark;
    ul {
        li {
            display: inline;
            padding-left: 0.5em;
            font-size: 1.5em;
            a {
                color: $white-dark;
                decoration: none;
                
                &:hover {
                    color: $purple-dark;
                }
            }
        }
    }
}

/* nav */

.navbar-goteamwin {
    margin: 0;
    background: $white-dark;
    border-radius: 0;
    border-bottom: 1px solid $grey-light;
    .navbar-collapse {
        ul {
            li {
                a {
                    color: $purple;
                    text-decoration: none;
                    
                    &:hover {
                        color: $purple-dark;
                    }
                }
            }
        }
    }
}
/* Featured on home */

$newContentHeight: 400px;
.new-content {
    height: $newContentHeight;
    background: $black;
    .first-featured {
        height: $newContentHeight;
    }
    .second-featured {
        height: $newContentHeight / 2;
    }
}

.featured-content{
    padding: 0 0 0 0;
    position: relative;
    a {
        color: $white-light;
        
        .featured-image {
            height: 100%;
            .overlay{
                width: 100%;
                height: 100%;
                background: linear-gradient(left, $purple-dark, $purple);
                opacity: 0.45;
            }
        }
        .featured-header {
            width: 100%;
            font-size: 1.5em;
            
            .title {
                padding: 0.5em;
                position: absolute;
                bottom: 0;
            }
            
            .meta {
                position: absolute;
                top: 0;
                padding: 0.5em;
                font-size: 0.6em;
                color: $purple;
            }
            
        }
    }
}

/* Main Content */
.main-content {
    margin-top: 2em;
}

/* List */
.list-entry {
    margin-bottom: 2em;
    background-color: $white-light;
    border-bottom: 2px solid $purple-dark;
}

.list-image {
    border-top: 1px solid $purple;
    border-bottom: 1px solid $purple;
}

.list-type {
    color: $purple;
    font-size: 0.8em;
    margin-bottom: 0.3em;
}

.list-title {
    font-size: 1.5em;
    margin-top: 1em;
    a {
        color: $grey-dark;
        text-decoration: none;
        
        &:hover {
            color: $purple;
        }
    }
}

.list-body,
.list-header {
    padding-bottom: 1em;
}

.list-image {
    @include aspect-ratio(7, 3);
}

.list-meta {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
    color: $grey-light;
}

/* posts */
.post-content {
    padding-top: 2em;
    
    .title {
        
    }
}


/* Video pages */
.video-viewer{
    background-color: $black;
    
    .video {
        @include aspect-ratio(16,9);
    }
}