{% load navigation_tags %}
{% load staticfiles %}
<header id="header-main">
    <nav class="navigation-top">
    <div class="container-fluid">
        <div class="header-logo">
            <a href="{% url 'home' %}">
                <img class="logo" src="{% static 'img/logo_400.png' %}"/>
            </a>
        </div>
        <div class="menu">
            <ul>
                <li><a>HOME</a></li>
                <li><a>VIDEOS</a></li>
                <li><a>NEWS</a></li>
                <li><a>PODCAST</a></li>
            </ul>
        </div>
        
        <div class="social">
            <ul>
                <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="facebook"><i class="fa fa-facebook-official"></i></a></li>
                <li><a class="twitch"><i class="fa fa-twitch"></i></a></li>
                <li><a class="youtube"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
        </div>
    </div>
        
    </nav>
</header>