{% extends "base.html" %}
{% load staticfiles %}

{% block billboard %}
<div id="featured-billboard">
    <div class="container">
        <h2>FEATURED</h2>
        <div class="row">
            {% for post in featured_posts %}
                <div class="featured-content col-md-4">
                    {% include post.featured_home_template %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <section class="post-list">
            {% if posts %}
                {% for post in posts %}
                <div class="list-entry">
                    <div class="list-content">
                        {% include post.list_template %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                No Posts
            {% endif %}
            {% if page_obj %}
                {% include "page_nav.html" %}
            {% endif %}
        </section>
    </div>
    <div class="col-md-4">
        {% if recent_video %}
            <h2 class="section-header">LATEST VIDEOS</h2>
            {% for post in recent_video %}
                <div class="recent-video-container">
                    {% include 'video/recent_video_snippet.html' %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}